:root {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --duration: 1s;
  --stagger: 0.5s;
  --interval: calc(var(--duration) - var(--stagger));
}

.tech-card {
  animation-name: fly-in;
  animation-duration: var(--duration);
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: calc(var(--interval) * var(--i))
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f1f4f7;
    background-color: #1d1e1d;
  }
}

@keyframes fly-in {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: none;
  }
}
